PORT=your_port

DB_NAME=your_db_name
DB_USER=your_user
DB_PASSWORD=your_password
DB_HOST=your_host
DB_DIALECT=mysql

NODE_ENV=your_env_name // Use NODE_ENV instead of ENVIRONMENT

SECRET_KEY=your_secret_key

SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password